body{
  background: #0b0e1a;
  color: #e6e6e6;
  font-family: monospace, sans-serif;
  margin:0;
  padding:20px;
}

#title {
  text-align: center;
  font-size: 40px;
  color: #00df8d;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-style: italic;
  color: #568475;
  margin-top: 0;
  margin-bottom: 30px;
}

#planets {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#planets th {
  background-color: #7FFFD4;
  color: #0b0e1a;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}

#planets td {
  padding: 12px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #374151;
}

#planets img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}